<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beijing.Dao.LoginMapper">
  <select id="equalsLogin" resultType="TUser">
    select * from t_user where loginacct=#{loginacct} and userpswd=#{userpswd}

  </select>

  <select id="selectLimit" resultType="TUser">
    select * from t_user limit #{i},#{pagesize}

  </select>

  <select id="selectTotalsize" resultType="int">
    select count(*) from t_user

  </select>
</mapper>