<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beijing.Dao.PermissionMapper">
    <select id="selectPermission" resultType="TPermission">

        select * from t_permission;

    </select>


    <update id="updatePer">
        update t_permission set url=#{url},name=#{name} where id=#{id}
    </update>
    <insert id="insertPer">
        insert into t_permission (name,pid,url)values (#{name},#{pid},#{url})
    </insert>

    <delete id="deletePermission">
        delete from t_permission where id=#{id}
    </delete>
</mapper>